<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./styles.css" />
		<title>Lux Bags - Cart</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="/"><img src="./images/logo.jpg" alt="logo image" /></a>
				<ul class="menu">
					<li><a href="/">Home</a></li>
					<li><a href="/shop">Shop</a></li>
					<li><a href="#">Sign In</a></li>
					<li><a href="#">Sign Up</a></li>
				</ul>
				<a class="cart-icon" href="#">
					<img
						src="./images/shopping-bag.png"
						alt="shpping bag icon"
						width="35px"
					/>
					<span class="item-number">0</span>
				</a>
			</nav>
		</header>

		<main>
			<section class="items-in-cart-section">
				<ul class="cart-header">
					<li>Product</li>
					<li>Price</li>
					<li>Quantity</li>
					<li>Total</li>
				</ul>
				<ul class="items-in-cart"></ul>
				<div class="cart-total-wrapper">
					<div>Cart Total</div>
					<div class="cart-total"></div>
				</div>
			</section>
		</main>

		<footer>2022 &copy; LUX BAGS Store</footer>

		<script src="./scripts/cart.js" type="module"></script>
	</body>
</html>
