<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="./styles.css" />
		<title>Lux Bags - Welcome</title>
	</head>
	<body>
		<header>
			<nav>
				<a href="/"><img src="./images/logo.jpg" alt="logo image" /></a>
				<ul class="menu">
					<li><a href="/">Home</a></li>
					<li><a href="/shop">Shop</a></li>
					<li><a href="#">Sign In</a></li>
					<li><a href="#">Sign Up</a></li>
				</ul>
				<a class="cart-icon" href="/cart">
					<img
						src="./images/shopping-bag.png"
						alt="shpping bag icon"
						width="35px"
					/>
					<span class="item-number">0</span>
				</a>
			</nav>
			<div class="hero">
				<h1>Bags reimagined for modern life.</h1>
				<a class="btn" href="/shop">Shop Now</a>
			</div>
		</header>

		<main>
			<section class="about-section">
				<div class="about-section-left">
					<img src="./images/studio-bag.png" />
				</div>

				<div class="about-section-right">
					<h3>Designed for fashion. Crafted for sport.</h3>
					<p>
						We make <a class="text-link" href="#">products</a> that effortlessly
						transition from day to night. From the board room to the fitness
						studio, and everywhere in between, each Nomads piece is thoughtfully
						created to be the perfect balance of form and function.
					</p>
					<a class="btn" href="#">studio bag</a>
				</div>
			</section>

			<section class="featured-collection">
				<h2>Featured Collection</h2>
				<div class="item-list">
					<div class="item-card">
						<img src="./images/studiobag.jpg" />
						<h3>Studio Bag</h3>
						<h4>$ 15</h4>
						<button class="btn add-to-cart">Add To Cart</button>
					</div>
					<div class="item-card">
						<img src="./images/cumulus-olive.png" />
						<h3>Cumulus</h3>
						<h4>$ 28</h4>
						<button class="btn add-to-cart">Add To Cart</button>
					</div>
					<div class="item-card">
						<img src="./images/dance-nylon.png" alt="" />
						<h3>Dance Bag Nylon</h3>
						<h4>$ 35</h4>
						<button class="btn add-to-cart">Add To Cart</button>
					</div>
					<div class="item-card">
						<img src="./images/stratus-backpack.png" alt="" />
						<h3>Stratus Backpack</h3>
						<h4>$ 30</h4>
						<button class="btn add-to-cart">Add To Cart</button>
					</div>
				</div>
			</section>
		</main>

		<footer>2022 &copy; LUX BAGS Store</footer>

		<script src="./scripts/index.js" type="module"></script>
	</body>
</html>
